#### 1

In [3]:
from pandas import read_csv

In [4]:
dataset = read_csv('Connections_UK.csv',header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,Metric,"Market, Operator",Q1 2010,Q2 2010,Q3 2010,Q4 2010,Q1 2011,Q2 2011,Q3 2011,Q4 2011,...,Q3 2018,Q4 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
1,Connections,3 (CK Hutchison),"5,055,187","5,127,360","5,352,510","5,577,660","5,652,029","5,726,398","6,083,239","6,440,080",...,"9,582,252","9,626,088","9,669,967","9,712,479","9,755,098","9,797,860","9,840,305","9,881,951","9,923,260","9,964,683"
2,Connections,EE (BT),"17,175,000","27,093,000","27,101,000","27,214,000","26,978,000","26,803,000","26,762,000","27,834,000",...,"31,624,868","31,761,719","31,898,007","32,031,756","32,167,715","32,306,207","32,445,797","32,584,800","32,724,727","32,867,133"
3,Connections,Vodafone,"19,954,383","19,965,191","20,264,690","20,602,194","20,663,541","20,579,131","20,950,441","21,009,806",...,"24,812,109","25,111,891","25,413,702","25,710,591","26,013,145","26,322,182","26,634,518","26,946,341","27,261,031","27,582,093"
4,Connections,O2 (Telefónica),"21,355,500","21,605,600","21,957,100","22,211,500","22,286,400","22,142,600","22,213,600","22,167,500",...,"30,773,334","31,899,494","33,130,382","34,435,579","35,831,850","37,296,121","38,808,950","40,365,771","41,982,697","43,678,492"
5,Connections,Orange (Merged Q2 2010),"16,442,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Connections,Relish Broadband (UK Broadband),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"245,792","254,951","263,972","272,654","281,310","289,957","298,504","306,848","315,084","323,299"
7,Connections,United Kingdom,"79,982,070","73,791,151","74,675,300","75,605,354","75,579,970","75,251,129","76,009,280","77,451,386",...,"97,038,355","98,654,143","100,376,030","102,163,059","104,049,118","106,012,327","108,028,074","110,085,711","112,206,799","114,415,700"

In [5]:
import pandas as pd

In [6]:
from numpy import nan

In [10]:
#결측치 NAN을 0으로 바꾸기
df_0 = dataset.fillna(0)
df_0

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,Metric,"Market, Operator",Q1 2010,Q2 2010,Q3 2010,Q4 2010,Q1 2011,Q2 2011,Q3 2011,Q4 2011,...,Q3 2018,Q4 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
1,Connections,3 (CK Hutchison),"5,055,187","5,127,360","5,352,510","5,577,660","5,652,029","5,726,398","6,083,239","6,440,080",...,"9,582,252","9,626,088","9,669,967","9,712,479","9,755,098","9,797,860","9,840,305","9,881,951","9,923,260","9,964,683"
2,Connections,EE (BT),"17,175,000","27,093,000","27,101,000","27,214,000","26,978,000","26,803,000","26,762,000","27,834,000",...,"31,624,868","31,761,719","31,898,007","32,031,756","32,167,715","32,306,207","32,445,797","32,584,800","32,724,727","32,867,133"
3,Connections,Vodafone,"19,954,383","19,965,191","20,264,690","20,602,194","20,663,541","20,579,131","20,950,441","21,009,806",...,"24,812,109","25,111,891","25,413,702","25,710,591","26,013,145","26,322,182","26,634,518","26,946,341","27,261,031","27,582,093"
4,Connections,O2 (Telefónica),"21,355,500","21,605,600","21,957,100","22,211,500","22,286,400","22,142,600","22,213,600","22,167,500",...,"30,773,334","31,899,494","33,130,382","34,435,579","35,831,850","37,296,121","38,808,950","40,365,771","41,982,697","43,678,492"
5,Connections,Orange (Merged Q2 2010),"16,442,000",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Connections,Relish Broadband (UK Broadband),0,0,0,0,0,0,0,0,...,"245,792","254,951","263,972","272,654","281,310","289,957","298,504","306,848","315,084","323,299"
7,Connections,United Kingdom,"79,982,070","73,791,151","74,675,300","75,605,354","75,579,970","75,251,129","76,009,280","77,451,386",...,"97,038,355","98,654,143","100,376,030","102,163,059","104,049,118","106,012,327","108,028,074","110,085,711","112,206,799","114,415,700"

In [13]:
df_0[[0]['Q4 2018']]

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<ipython-input-13-a26ac4027f91>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df_0[[0]['Q4 2018']]

TypeError: list indices must be integers or slices, not str